/* CSS for base.html */
.navbar-default {
    box-shadow: none;
    border-radius: 0;
    border: 3px solid black;
}

/* CSS for homepage.html */
.def {
    border-style: solid;
    border-color: black;
    border-width: 3px;
}


/* CSS for how-to-use.html */
.container-img img{
    width: 100%;
}