<!DOCTYPE html>
<html>
    
    <head>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/style.css">
        
        <title>{% block title %} {% endblock %}</title>
    </head>

    <body>
        {% block body %} Body goes here
        <script src="http://code.jquery.com/jquery.js"></script>
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js">
        </script>
        {% endblock %}
    </body>

</html>