<!DOCTYPE html>
<html>
    <head>
        <title>Bitcoin Homepage</title>
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css" rel="stylesheet">
        <link rel="stylesheet" href="/static/survey.css">

    </head>
    
    <body>
    <div class="container">
        <div class="navbar-default">
            <div class="navbar-header">
                <div id"navbar">
                    <ul>
                        <li>Home</li>
                        <li>History</li>
                        <li>Uses</li>
                        <li>Problems</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>