{% extends 'base.html' %}

{% block title %}Bitcoin Homepage{% endblock %}

{% block body %}
    <div class="container">
        
            <h1>Bitcoin</h1>
                <div class="def container">
                    <h3>Definition</h3>
                        <p>Bitcoin is an online currency created by Satoshi Nakamoto in 2008. People can make transactions among one another anonymously, excluding banks and having to provide personal information to a financial entity. 
                        </p>
                </div>

                        <!--Due to lack of regulation, bitcoin transactions-->

        

    </div>
{% endblock %}