{% extends 'base.html' %}

{% block title %}Bitcoin Homepage{% endblock %}

{% block body %}
    <div>
        <a href="#three">Click me!</a>
    </div>

    <div class="container">
            
                <!--<h1>Bitcoin</h1>-->
                <div class="def container">
                    <h1>Definition</h1>
                        <p>Bitcoin is an online currency created by Satoshi Nakamoto in 2008. People can make transactions among one another anonymously, excluding banks and having to provide personal information to a financial entity. 
                        </p>
                </div>

                        <!--Due to lack of regulation, bitcoin transactions-->

            
            <br><br><br><br><br><br><br><br><br><br>
                <div class="def container">
                    <p>
                        
                    </p>
                </div>  
                <br><br><br><br><br><br><br><br><br><br>
                <div class="def container">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at blandit est. Donec nec dui id nulla rutrum efficitur. Praesent suscipit nulla massa, nec pulvinar mi mattis id. Nullam ultricies justo iaculis lacus efficitur mollis. Sed sit amet rhoncus tortor. Sed dapibus, ex a pretium malesuada, ante ligula auctor velit, eu pellentesque ante odio et augue. Fusce venenatis, mauris ac luctus lacinia, nunc magna gravida dui, ut vehicula velit ex quis est. Fusce sed elit tempor, vehicula ante nec, pharetra turpis. Duis at feugiat ex. Fusce at ligula ac tortor consequat malesuada nec eget quam. Aliquam eu augue imperdiet, ullamcorper lacus eu, facilisis ex. Curabitur consectetur eros vitae neque tempor tincidunt.
                    </p>
                </div>  
                <br><br><br><br><br><br><br><br><br><br>
                <div class="def container" id="three">
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Cras at blandit est. Donec nec dui id nulla rutrum efficitur. Praesent suscipit nulla massa, nec pulvinar mi mattis id. Nullam ultricies justo iaculis lacus efficitur mollis. Sed sit amet rhoncus tortor. Sed dapibus, ex a pretium malesuada, ante ligula auctor velit, eu pellentesque ante odio et augue. Fusce venenatis, mauris ac luctus lacinia, nunc magna gravida dui, ut vehicula velit ex quis est. Fusce sed elit tempor, vehicula ante nec, pharetra turpis. Duis at feugiat ex. Fusce at ligula ac tortor consequat malesuada nec eget quam. Aliquam eu augue imperdiet, ullamcorper lacus eu, facilisis ex. Curabitur consectetur eros vitae neque tempor tincidunt.
                    </p>
                </div>
    
    </div>
{% endblock %}
