{% extends 'base.html' %}

{% block title %}Bitcoin Homepage{% endblock %}

{% block body %}
<style>
    .ref li > a::before {
        content: attr(href);
    }
</style>
    <div class="container">
        <ul class="ref">
            <li><a href="https://bitcoin.org/en/"></a></li>
            <li><a href="http://en.wikipedia.org/wiki/Bitcoin"></a></li>
            <li><a href="http://www.bitcoin.com/"></a></li>
            <li><a>http://www.coindesk.com/information/how-bitcoin-mining-works/</a></li>look up hashing from notes in lecture
        </ul>
    </div>

{% endblock %}
http://www.cnbc.com/id/101332124
    psuedoname
    limit 21 mil, 12mil now
    reward 1/2s every 4 years
    mining software: GUIMiner
    mining pools: Slush's pool
http://www.pythoncentral.io/hashing-strings-with-python/
https://en.bitcoin.it/wiki/Block_hashing_algorithm
https://bitcoin.org/en/
http://www.michaelnielsen.org/ddi/how-the-bitcoin-protocol-actually-works/
https://bitcoin.org/en/how-it-works
http://www.forbes.com/sites/petercohan/2014/02/26/is-bitcoin-an-investment-or-a-cult/